# Configurações do Servidor
PORT=8080

# Configuração do Banco de Dados (H2 Embedded - arquivo local ./data/foody_delivery.db)
DB_URL=jdbc:h2:file:./data/foody_delivery;AUTO_SERVER=TRUE
DB_DRIVER=org.h2.Driver
DB_USERNAME=sa
DB_PASSWORD=

# Configuração de Segurança JWT (Market-Standard Cryptographic 512-bit Base64 Key)
JWT_SECRET=65F+lflcf4OI5Au5df7G/zw7aL6wQrdSw8njGJS/H8qJfrlnJ8k3wV6qXTfWAGyYtW2oyTlzVM5lRQsB5H+YCg==
JWT_EXPIRATION_MS=86400000
